.idea/
omniglot/
attributes.txt
CUB_200_2011/
__pycache__/
savedmodels/
.DS_Store
*.csv
*.png
logs/
new_logs/
new_logs_hotels/
*.json
hotels_trainval/
dummy_splits_50k
dummy_*
*.h5
tb_neweval/
local_cc_job.sh
tensorboard/
correct_files/
index_making_tempfiles/
*.jpg
k_at_n_results/
